.playing-card {
	text-align: left;
}

.playing-card h2 .card {
	display: inline-block;
	padding: 5px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 4px;
}

.playing-card .text {
	height: 100%;
}

.rules .rule-list {
	padding: 10px 0;
}

.rules .rule-list li {
	display: inline-block;
	margin: 5px;
	background-color: #ccc;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
}
